*{
    box-sizing: border-box;
}

body{
    background-color: rgb(96, 30, 116);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins",sans-serif;
    margin: 0;
    min-height: 100vh;
}

.pw-container {
    background-color: rgb(145, 120, 167);
    width: 400px;
   
}

.pw-header {
    padding: 1rem;
}

.pw {
    background-color: rgb(225, 207, 239);
    font-size: 2rem;
    display: flex;
    align-items: center;
    
    height: 70px;
    width:100%;
    position: relative;
    padding: 1rem;
}

.pw button {
    background-color: white;
    border: none;
    color: rgb(29, 2, 56);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
}

.pw-body{
    padding: 1rem;
}

.form-control {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    
}

.generate{
    background-color: #ecb602;
    display: block;
    border: none;
    padding: 1rem;
}