

*{
    box-sizing: border-box;

}

body{
    background-color: #e5e5e5;
    display: flex;
flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins",sans-serif;
    margin: 0;
    min-height: 100vh;

}
canvas{
    border: 1px solid #111;

}

.toolbox{
    background-color: rebeccapurple;
    padding: 1rem;
    width: 800px;


}

.toolbox > * {
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size:  2rem;
    padding: 0.25rem;
    height: 50px;
    width: 50px;

}